div {
    background-color: rgb(205, 246, 246);
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  p{ 
      background-color: yellow;
      max-width: 300px;
  }